/* 
    CSS Syntax
    Selector {
        propertyA : valueA;
        propertyB : valueB;    
    }
*/

/* 
    * - universal selector, it selects all elements in the web page; it is the least prioritized selector.
    font-family - "courier new", monospace;
        it sets the font to be used by the browser which is courier new. SInce the font is not existing in all browsers, \
            monospace gives the browser an option to use if courier is not existing. It will serach its fonts that belong to monospace.
    font-size - set sthe font size to the specified measurement
        px - pixels
*/
*{
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

/* 
    html selector - used to select all elements inside the html tag/
*/

html{
    /* modifies the scroll behavior when navigating through the page */
    scroll-behavior: smooth;
}

body{
    /* 
    body selector - selects all elements inside the body tag. 

    background-color - modifies the background color of the elements inside the selector
    */
    background-color: skyblue;
}

nav{
    background-color: beige;
}

nav > div {
/* 
child selector

disply: inline-block: it sets the display of the element into inline-block
    inline block

float - changes the horizontal alignment of the lement and puts it on the specified location/position in this codebase, the div will be poositioned on the right side of the page
*/
    display: inline-block;
    float: right;
}

h1 {
    color: red !important; 
    /* !important - overrides/disregards the ranking of priority and makes the property the prioprity */
    font-size: 2rem;
    text-align: center;

    /* 
    rem - root element measurement, rem = 16px
    computation : n*&rem; n=number attached before rem
    */
}

section{
    /* 
    height - modifies the height of the element
        vh - viewport height, the measurement of the monitor of the user
    */
    height: 100vh;
    text-align: center;

}

h2{
    font-size: 1.5rem;
}

ol{
    /* 
    list-style-type - changes the style fof bullets/numbering in a list.
    */
    list-style-type: none;
}

a:hover{
    background-color: #b4d6de;
   }

/* 
    ID selectors
    @idName{
        property: value;
    }
*/

#zuitt-motto{
    /* letter spacing - changes the spaces between letters of the text element */
    letter-spacing: 5px;
    font-size: 30px;
}

/* 
    class selectors 
    .className{
        property: value;
    }
*/

.offered-items{
    text-transform: uppercase;
}


/* 
     attribute selector
     tag[attribute]{
         ptroperty: value
  
      }
*/

input[required],[autocomplete]{
    border-width: 2px;
    border-style: solid;
    border-color: yellow;
}

/* 
    Combination Selectors 
*/

/* 
adjacent sibling selector - selects the sibling directly after the first selector. both selectors doesnt have to belog to the same type (tag, id, class coudl also be used.)
first selector + second slector {
    property: value;
}
*/

h3 + img{
    height: 300px;
    width: 300px;
    /* border radius - rounds the corner of the element, especially the img element. */
    border-radius: 150px;
}


/* 
    descendant selector 
    firstSelector descendant{
        property: value;
    }
section > ol > lis
*/

section li{
    color: #075966;
}


/* 
general siblin selector
    first selector - general sibline
 */

h2~ a {
    /* text-decoration changes the decoration of the text, usually lining the text.
        other values could be: overline, line-through, underline */
    text-decoration: none;
}

form{
    color: rgb(0, 0, 128);
    text-align: center;
    background-color: white;
    /* shorthand for modifying the border */
    border: 2px solid black;
    /* vw - the measurement of th ewidth of th euser's monitor */
    width: 25vw;
    /* 
    position - dictates the position of th eelement 
        have the exact measurements regarding the position of the element
            relative - makes the position of th eelement relative to its direction.
    */
    position: relative;
    left: 35.25%;
}

button{
    color: white;
    background-color: #cf0053;
    border: 0;
    border-radius: 15px;
}

button:hover{
    background-color: red;
    transition: 3ms;
}












