
.list{
    background-color: aquamarine;
}

.external{
    color: hotpink;
}

.border{
    border: 2px solid blue;
    
}

img{
    height: 300px;
    width: 300px;
    border-radius: 300px;
}

.spacing   {letter-spacing: 10px;
    text-decoration: none;
    list-style: none;
}

ul {
    list-style: none;
}